.AgeCalc {
  margin-top: 10%;
}

.AgeCalc input {
  border: 1px solid lightgray;
  padding: 0.3rem;
  margin-bottom: 1%;
}

.btn {
  padding: 10px 20px;
  background-color: #007aff;
  border-color: #007aff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}
